body {
    padding: 1em 1em 0em 1em;
    width: 610px;
    margin: auto;
    background: #E3ECF8;
}

h1, h2 {
    text-align: center;
}

#footer {
   position:static;
   left:0px;
   bottom:0px;
   height:130px;
   width:100%;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

#pts_canvas {
    position: relative;
    top: 5px;
    left: 5px;
    height:30px;
}

#pts2_canvas {
    position: relative;
    top: 5px;
    left: 5px;
    height:30px;
}

.sound-overlay {
    text-align: center;
    z-index: 20;
    border-radius: 6px;
    position:fixed;
    width: 320px;
    height: 230px;
    top: 50%;
    left: 50%;
    margin-left: -180px; /* Negative half of width. */
    margin-top: -180px; /* Negative half of height. */
    font-size: 16px;
    line-height: 24px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 0 1500px rgba(0, 0, 0, .5);
    background: white;
    .accept-sound {
        cursor: pointer;
        padding: 50px 50px 50px 50px;
    }
}

.d-none {
    display: none;
}

.hide {
    display: none;
}

.gainslider {
}
